.App {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 1rem; 
  margin-right: auto;
}

.keep-right {
  position: relative;
  margin-left: auto; 
  margin-right: 1rem;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: 1000;
  padding-bottom: 0
}

.no-underline-link {
  text-decoration: none;
  color: black;
}