.App {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 1rem;
  margin-right: auto;
}

.keep-right {
  position: relative;
  margin-left: auto;
  margin-right: 1rem;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: 1000;
  padding-bottom: 0;
}

.no-underline-link {
  text-decoration: none;
  color: black;
}

/*flexbox*/
/*made with the help of
https://www.w3schools.com/css/css3_flexbox_container.asp
sets up flex container*/
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* column, column img, columnnomargin, and columnP, 
including their responsive (@media) areas, were made with the help of 
https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery */
.flex-container li {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
  text-align: center;
  text-decoration: none;
  width: fill;
}

.no-underline-link {
  text-decoration: none;
  color: black;
}

/*Centering the profile image for profile page*/
.profile-image {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 12rem;
}

/* Centering any text*/
.center {
  text-align: center;
}

/* gray thin line*/
.gray-line {
  color:lightgray;
  background:lightgray;
  border-color:lightgray;
  height:0.5px;
  width:80%;
}

.row {
  display:flex;
  flex-direction: row;
  margin:auto;
  padding: 1rem;
}
