.App {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 1rem;
  margin-left: 1rem;
  margin-right: auto;
}

.keep-right {
  position: relative;
  margin-left: auto;
  margin-left: auto;
  margin-right: 1rem;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: 1000;
  padding-bottom: 0;
}

.no-underline-link {
  text-decoration: none;
  color: black;
}

/*flexbox*/
/*made with the help of
https://www.w3schools.com/css/css3_flexbox_container.asp
sets up flex container*/
.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 4px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

/* .flex-container * {
  flex: 1;
} */

/* .columns-three {
  flex: 33%;
  text-align: center;
  background-color: red;
} */

.align-text-left {
  text-align: left;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}

/*styles the selected tab in the navbar*/
.navbar-tab-selected {
  width: 400px;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2em;
  border-style: none;
}

/*styles the unselected tabs in the navbar*/
.navbar-tab-unselected {
  width: 400px;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2em;
  border-style: none;
  background-color: white;
}

/* from https://stackoverflow.com/questions/38327827/how-to-center-a-child-element-in-css-even-if-it-is-larger-than-the-parent */
.centered {
  position: absolute;
  margin: auto;
  display: block;
  bottom: 0px;
  top: 0px;
  left: 100%;
  transform: translate(-100%, 0);
}

/* from https://stackoverflow.com/questions/67932066/how-do-i-center-align-a-material-ui-chip-within-a-grid-item*/
/* To center chips in the grid */
.chip-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray-bottom-border {
  border-width: 2px;
  border-color: lightgray;
  border-bottom-style: solid;
}