.App {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 1rem;
  margin-left: 1rem;
  margin-right: auto;
}

.keep-right {
  position: relative;
  margin-left: auto;
  margin-left: auto;
  margin-right: 1rem;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: 1000;
  padding-bottom: 0;
}

.no-underline-link {
  text-decoration: none;
  color: black;
}

/*flexbox*/
/*made with the help of
https://www.w3schools.com/css/css3_flexbox_container.asp
sets up flex container*/
.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 4px;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

/* .flex-container * {
  flex: 1;
} */

.columns-three {
  flex: 33%;
  text-align: center;
}

/*styles the selected tab in the navbar*/
.navbar-tab-selected {
  width: 400px;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2em;
  border-style: none;
}

/*styles the unselected tabs in the navbar*/
.navbar-tab-unselected {
  width: 400px;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 2em;
  border-style: none;
  background-color: white;
}

/*from https://stackoverflow.com/questions/70025571/force-image-in-flex-container-to-match-the-height-of-other-flex-elements*/
.right {
  /* width: 40%; */
  flex: 33%;
  position: relative;
}

/*from https://stackoverflow.com/questions/70025571/force-image-in-flex-container-to-match-the-height-of-other-flex-elements*/
.placeholder{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  object-fit: contain;
}