.img-center {
padding:2%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.text-center{
    text-align:center;
    margin:auto;
    justify-content:center;

}

.row{
    display:flex;
    justify-content:center;
    margin:auto;
    margin-top:4px;
    margin-bottom: 4px;
}

.delete-account-button {
    width: 30%;
    display:block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}